th {
    background-color:grey;
    color: blue;
    font-weight: bold;
}
tr:nth-child(even) {
    background: yellow;
}
.cross {
    background-color:red;
    color:white;
}
Status API Training Shop Blog About
